p{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    color: rgb(1, 1, 78);
    font-weight: 700;
}
.input-grid{
    display: grid;
    grid-template-columns: 170px 180px 80px;
    column-gap: 50px;
    height: 50px;
    width: 530px;
}
.todo-input,
.date-input{
    height: 100%;
}
.add-button{
    padding: 20px;
    background-color: rgb(0, 91, 0);
    color: whitesmoke;
    border: 1px solid;
}

.output-grid{
    display: grid;
    grid-template-columns: 170px 180px 80px;
    column-gap: 50px;
    height: auto;
    width: 530px;
    align-items: center;
}
.del-button{
    padding: 10px;
    background-color: rgb(96, 0, 0);
    color: whitesmoke;
    border: 1px solid;
    height: 100%;
    max-height: 50px;
}
.del-button:hover,
.add-button:hover{
    cursor: pointer;
}


